{% extends 'base.html' %}

{% block scripts %}
<script>
$(document).ready(function(){
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: ['SPAM', 'nie SPAM'],
			datasets: [{
				label: 'liczba wiadomości',
				data: [ {{object.spam_counter}}, {{object.received_counter}}-{{object.spam_counter}}],
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
	
			}
		}
	});
});
</script>
{% endblock scripts %}


{% block content %}

<div class="container">
	<div class="row">

		<!--MENU po lewej-->
		<div class="col-lg-3" style="padding-bottom: 15px;">
			<section class="menu-small">
				<ul class="list-group" style="text-align: left;">
					<li><a class="menu-font font-weight-bold list-group-item list-group-item-action" 
						href="{% url 'mail-list' %}">Twoje maile</a></li>
					<li><a class="menu-font font-weight-bold list-group-item list-group-item-action" 
						href="{% url 'spam-list' %}">Twój spam</a></li>
					<li><a class="menu-font font-weight-bold list-group-item list-group-item-action" 
						href="../spam-stats/{{mailbox.id}}/">Statystyki antyspamowe</a></li>
					<li><a class="menu-font font-weight-bold list-group-item list-group-item-action" 
						href="../spam-settings/{{mailbox.id}}/">Ustawienia antyspamowe</a></li>
					<li><a class="menu-font list-group-item list-group-item-action" 
						href="{% url 'user-update' %}">Zmień swoje dane</a></li>
					<li><a class="menu-font list-group-item list-group-item-action" 
						href="{% url 'change-password' %}">Zmień hasło</a></li>
					<li><a class="menu-font list-group-item list-group-item-action" 
						href="{% url 'user-delete' %}">Usuń swoje konto</a></li>
				</ul>
			</section>	
		</div>

		<div class="col">
			<section class="log-in-form">
				<h1>Statystki spamowe</h1>
		
				<div class="row" style="margin: 20px">
					<div class="col-sm-4">
						<p class="h5" style="margin-top: 20px; margin-bottom: 0px;">
							Odebrałeś już {{object.received_counter}} wiadomości</p>
						<p class="h5">w tym {{object.spam_counter}} oznaczonych jako SPAM.</p>
					</div>
					<div class="col-sm-8">
							<canvas id="myChart"></canvas>
					</div>
				</div>
			
				<br/>
		
			</section>

		</div>


	</div>
</div>

	

	<a class="btn btn-outline-secondary" href="{% url 'home' %}">
		Powrót do strony głównej
	</a>
{% endblock %}