{% extends 'base.html' %}

{% block content %}
<body class="body">
	
	<header>
		<h1 class="title">TAMP-on</h1>
		<h6 class="description">TAMP-on to skrzynka antyspamowa wykorzystująca dwa rodzaje silników (Filtr Bayesa oraz czarną listę) pozwalających wyłapywać niechciane wiadomości email.</h6>
	</header>
	<br/>
	
	<main>

		<section id="auth-section" class="container-fluid">
			<h5>
				<a href="{% url 'social:begin' 'google-oauth2' %}">
					<button type="button" name="button" class="btn btn-primary btn-lg">Zaloguj się przez konto Google</button>
				</a>
			</h5>
		</section>
		<br/><br/><br/><br/>

		<footer class="footer text-left">
			<div class="container">
				<div class="row">
					<div class="col-sm">
						<h4 class="font-weight-normal">Jak to działa?</h4>
						<p class="font-weight-light">Pierwszym zastosowanym rozwiązaniem jest naiwny klasyfikator bayesa bazujący na algorytmach sztucznej inteligencji. Z wykorzystaniem rachunku prawdopodobieństwa oraz twierdzenia Bayesa pozwala wydajnie wykrywać niechciane wiadomości. 
							Drugą techniką wykorzystywaną przez naszą skrzynkę jest Czarna Lista, która wedle życzenia użytkownika blokuje wszystkie wiadomości od wybranego przez użytkownika adresu email.</p>
					</div>
					<div class="col-sm">
						<h4 class="font-weight-normal">O nas:</h4>
						<p class="font-weight-light">Jesteśmy grupą studentów którzy stawiają swoje pierwsze kroki w tworzeniu aplikacji webowych. W ramach nauki i projektu grupowego stworzyliśmy własną skrzynkę mailową TAMP-on.</p>
					</div>
				</div>
			</div>
		</footer>

	</main>

</body>
{% endblock %}
